doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Noom
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    style.
      li {
        margin: 5px 0; /* Add some spacing between messages */
      }
      .my-message {
        text-align: right; /* Right align messages sent by the user */
        background-color: #d1ffd1; /* Optional: different background color */
        padding: 5px;
        border-radius: 5px;
        margin-left: auto; /* Push the message to the right */
        width: fit-content; /* Adjust width based on content */
      }
      .other-message {
        text-align: left; /* Left align messages sent by others */
        background-color: #f1f1f1; /* Optional: different background color */
        padding: 5px;
        border-radius: 5px;
      }
  body 
    header
      h1 hello
    main 
      form#nick
        input(type="text", placeholder="닉네임을 입력해주세요.", required)
        button Save
      ul
      form#message
        input(type="text", placeholder="메시지를 입력해주세요.", required)
        button Send
    script(src="/public/js/app.js")